.my-3.p-3.bg-white.rounded.shadow-sm
  %h6.border-bottom.border-gray.pb-2.mb-0.row
    = link_to 'ブックマーク', root_path
    - if @fqdn.present?
      %span= "/ #{@fqdn} "
    = "(#{@bookmarks.total_count})"
  .my-2
    = form_with(url: root_path, local: true, method: :get) do |f|
      .input-group.mb-3
        = f.hidden_field :fqdn, value: @fqdn
        = f.text_field :q, value: @q, class: 'form-control', placeholder: "ブックマークを検索"
        .input-group-append
          = f.submit '検索', class: 'ml-auto btn btn-primary'
  - @bookmarks.each do |bookmark|
    - web_resource = bookmark.web_resource
    .media.text-muted.pt-3
      - if web_resource.favicon_url.present?
        = image_tag web_resource.favicon_url, class: "rounded mr-2", width: '32px', height: '32px'
      - else
        %svg.bd-placeholder-img.mr-2.rounded(height="32" width="32")
          %rect(fill="#808080" height="100%" width="100%")

      %div.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
        %div
          - if web_resource.ogp_image_url.present?
            = image_tag web_resource.ogp_image_url, class: "rounded float-right", width: '100px'
          %strong.d-block.text-gray-dark
            = link_to web_resource.title, web_resource.url, target: '_blank'
          %p.clearfix= web_resource.description
        .p-3.mb-2.bg-white.text-dark
          %p.float-left.mr-3= "#{web_resource.users_count} users"
          %p.float-left= link_to web_resource.fqdn, root_path(fqdn: web_resource.fqdn)
        .p-3.mb-2.bg-light.text-dark
          %p
            %span.mr-3
              %i.fas.fa-user
              = bookmark.user.name
            %span= bookmark.comment
          %p= bookmark.updated_at.strftime("%y/%m/%d")
  %small.d-block.text-right.mt-3
    = paginate @bookmarks
