.form-signup
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    = f.text_field :name, class: 'form-control', placeholder: '表示名'
    = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'メールアドレス'
    = f.password_field :password, class: 'form-control', placeholder: 'パスワード'
    = f.submit '会員登録', class: 'btn btn-lg btn-primary btn-block'
