!!!
%html{lang: "ja"}
  %head
    %title ブックマークミニ
    %meta{charset: "utf-8"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    = javascript_pack_tag 'bookmarks'
  %body
    %nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
      = link_to 'ブックマークミニ', root_path, class: 'navbar-brand mr-auto.mr-lg-0'
      %button.navbar-toggler.p-0.border-0{"data-toggle" => "offcanvas", :type => "button"}
        %span.navbar-toggler-icon
      #navbarsExampleDefault.navbar-collapse.offcanvas-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item
            = link_to 'ブックマーク', me_bookmarks_path, class: 'nav-link'
          %li.nav-item.dropdown
            %a#dropdown01.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"} Settings
            .dropdown-menu{"aria-labelledby" => "dropdown01"}
              %a.dropdown-item{:href => "#"} Action
              %a.dropdown-item{:href => "#"} Another action
              %a.dropdown-item{:href => "#"} Something else here
        %form.form-inline.my-2.my-lg-0
          %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "text"}/
          %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search
    %main.container{:role => "main"}
      = yield
