!!!
%html{lang: "ja"}
  %head
    %title ブックマークミニ
    %meta{charset: "utf-8"}
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
  %body.devise
    = render 'navigation_bar'
    %main
      = yield
